.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.upload-container {
  width: 50%;
  margin: auto;
  padding: 40px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #e9f5ff;
  transition: background-color 0.3s, border-color 0.3s;
}

.upload-container:hover {
  background-color: #d8ecff;
  border-color: #0056b3;
}

.upload-container.image-selected {
  border-style: solid;
  background-color: #fff;
}

.upload-placeholder {
  color: #007bff;
  font-size: 1.2rem;
  font-weight: 500;
}

.image-preview {
  position: relative;
  display: inline-block;
}

.image-preview img {
  max-width: 400px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.8rem;
}

.remove-button:hover {
  background-color: #ff1a1a;
}
.logo-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
